---
layout: base
title: Generated at build time with regeneration
permalink:
  build: /build-and-regenerated/
  cache-page: /build-and-regenerated/
eleventyNavigation:
  key: Build time and regenerated
ttl: 300
---
This page is generated at build time and will be regenerated upon request with {{ ttl }} seconds of caching.