---
layout: base
title: Server-side rendered
permalink:
  ssr: /ssr
eleventyNavigation:
  key: SSR
---
This page is generated on demand and not cached (<abbr title="Server side rendering">SSR</abbr>).